@page "/"
<div class="relative block w-[100%] h-[100%] md:flex">
    <div class="relative block min-w-[250px] w-[100%] md:w-[20%] h-[fit-content] md:h-[100%] border-2 border-blue-900 pb-[200px] md:pb-1">
        <!-- Profile Card -->
        <ProfileCard 
            CardTitle="Hello Admin" 
            User="@User" 
            ShowButton=true 
            ButtonContent="Logout" 
            ButtonClassName="mt-2 bg-[#bbb] p-2 rounded hover:bg-[#ccc] font-bold"
            OnButtonClicked="@LogoutAsync" />
        <!-- End of Profile Card --> 
    </div>
    <div class="relative block w-[100%] md:w-[80%] h-[100%] border-2 border-blue-900">
    </div>
</div>

@code {
    public async Task LogoutAsync()
    {
        // logout user
        await AuthenticationApiService.Logout();

        NavigationManager.NavigateTo("/login");
    }
}
