@page "/"
@inject IJSRuntime JSRuntime
<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<button @onclick="LoginFunction">Login</button>

@code{
    private async Task LoginFunction()
    {
        //await JSRuntime.InvokeVoidAsync("PSITS_API_Authenticate", "3319695443");
        await AuthenticationApiService.Authenticate("3319695443");
    }
}