@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

@foreach (var log in officeLogs)
{
    <div>
        <h1>@log.user.firstname</h1>
        <p>@log.loginTime</p>
    </div>
}
